<h2><%= @item.name %></h2>

<p>Price: £<%= @item.current_price / 100 %> | <%= link_to 'Get current price!', "/items/#{@item.id}/get_price" %></p>

<p>Price history: <% @previous_prices.each do |prev_price| %>
  £<%= prev_price.price / 100 %><%= ', ' if prev_price != @item.previous_prices.first %>
  <% end %>
</p>

<p>URL: <%= @item.url %></p>
<p>Shop: <%= @item.shop.name %></p>
<p>Image:</p>
<img src=<%= @item.image %> alt="" style="width: 50%;">
